<% @articles.each do |article| %>
  <ul>
    <li><p><strong>
      <%= link_to article.title, article_path(article) %>
    </strong></p>
    <br>
  </ul>
<% end %>

<%= link_to "Add new article", new_article_path %>
